.footer{
    margin-top: 0; 
}
.left {
    float: left;
}

.right {
    float: right;
}

.sp-w-1000{
    width: 1000px;
    margin: 0 auto;
}

.yelleo{
    color: #fffc00;
}
.clear{
    clear: both;
    overflow: hidden;
}

.sp-w100{
    width: 100%;
    background-color: #7300ce;
    min-height: 200px;
    
}